<persistence-unit name="swingyPU" transaction-type="RESOURCE_LOCAL">
    <class>swingy.model.character.Hero</class>
    <properties>
        <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/swingy"/>
        <property name="jakarta.persistence.jdbc.user" value="locharve"/>
        <property name="jakarta.persistence.jdbc.password" value="locharve"/>
        <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver"/>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
        <property name="hibernate.show_sql" value="true"/>
        <!-- Optionnel : Désactive les logs Hibernate -->
        <property name="hibernate.log.level" value="WARN"/>
    </properties>
</persistence-unit>